{% extends "covid/base.html" %}
{% load static %}

{% block stylesheet %}
<style>
    a#pdf {
    		background: #ffffff;
    		border: solid 1px #e6e6e6;
    		border-radius: 2px;
    		display: inline-block;
    		height: 100px;
    		line-height: 100px;
    		margin: 5px;
    		position: relative;
    		text-align: center;
    		vertical-align: middle;
    		width: 100px;
    }

    a#pdf span {
    		background: #f2594b;
    		border-radius: 4px;
    		color: #ffffff;
    		display: inline-block;
    		font-size: 11px;
    		font-weight: 700;
    		line-height: normal;
    		padding: 5px 10px;
    		position: relative;
    		text-transform: uppercase;
    		z-index: 1;
    }

    a#pdf span:last-child {
    		margin-left: -20px;
    }

    a#pdf:before,
    a#pdf:after {
    		background: #ffffff;
    		border: solid 3px #9fb4cc;
    		border-radius: 4px;
    		content: '';
    		display: block;
    		height: 35px;
    		left: 50%;
    		margin: -17px 0 0 -12px;
    		position: absolute;
    		top: 50%;
    		/*transform:translate(-50%,-50%);*/

    		width: 25px;
    }

    a#pdf:hover:before,
    a#pdf:hover:after {
    		background: #e2e8f0;
    }
    /*a:before{transform:translate(-30%,-60%);}*/

    a#pdf:before {
    		margin: -23px 0 0 -5px;
    }

    a#pdf:hover {
    		background: #e2e8f0;
    		border-color: #9fb4cc;
    }

    a#pdf:active {
    		background: #dae0e8;
    		box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25);
    }

    a#pdf span:first-child {
    		display: none;
    }

    a#pdf:hover span:first-child {
    		display: inline-block;
    }

    a#pdf:hover span:last-child {
    		display: none;
    }
    /* custom code for the demo */

    #pdf {
    		font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    }

    #pdf {
    		background: #f5f5f5;
    		color: #ffffff;
    		display: table-cell;
    		margin: 0;
    		text-align: center;
    		vertical-align: middle;
    }
</style>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

    .link {
      font-family: "Quicksand", sans-serif;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-sizing: border-box;
    }

    .link {
      height: 30px;
      align-items: center;
      color: #000;
      text-decoration: none;
      display: flex;
    }

    /* Hide extra text */
    .mask {
      position: relative;
      padding: 0;
      height: 20px;

      /*  Remove overflow to see how it works　:) */
      overflow: hidden;
    }

    .link-container {
      transition: transform 0.4s ease;
    }

    .title {
      display: block;

      /*  Set same font-size and line height  */
      font-size: 20px;
      line-height: 20px;

      transition: transform 0.4s ease;
    }

    .link-title1 {
      transform-origin: right center;
    }

    .link-title2 {
      transform-origin: left center;
      transform: rotate(20deg);
    }

    .link-icon {
      position: relative;
      width: 35px;
      height: 35px;
      background: #f8f8ff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;

      /*  Remove overflow to see how it works　:) */
      overflow: hidden;
    }

    .icon {
      display: block;
      position: absolute;
      transition: transform 0.4s ease;
    }

    .icon:nth-child(2) {
      transform: translate(-40px);
    }

    /* Hover Action*/

    /* Move up two texts (20px = font-size) */
    .link:hover .link-container {
      transform: translateY(-20px);
    }

    /* Rotate texts a little bit */
    .link:hover .link-title1 {
      transform: rotate(20deg);
    }

    .link:hover .link-title2 {
      transform: rotate(0);
    }

    /* Move arrows to right */
    .link:hover .icon:first-child {
      transform: translate(40px);
    }

    .link:hover .icon:nth-child(2) {
      transform: translate(0px);
    }
</style>
{% endblock stylesheet %}

{% block headertitle %}
    Genome Details
{% endblock headertitle %}

{% block content %}
<section class="item content">
    <div class="container toparea">
    	<div class="underlined-title">
    		<div class="editContent">
    			<h1 class="text-center latestitems">{{ Genome.Accession }}</h1>
    		</div>
    		<div class="wow-hr type_short">
    			<span class="wow-hr-h">
    			<i class="fa fa-star"></i>
    			<i class="fa fa-star"></i>
    			<i class="fa fa-star"></i>
    			</span>
    		</div>
    		<div style="text-align: center;"><img style="width: 10%; height: 10%;" src="{% static 'covid/images/coronavirus_illustration.png' %}"></div>
    	</div>

    	<div class="row">
            <div class="col-md-8 col-lg-offset-1">
                <div id="edd_checkout_form_wrap" class="edd_clearfix">
                    <fieldset id="edd_checkout_user_info">
    					<legend>Genome Info</legend>
						<label class="edd-label">Accession:</label>
					    <p>{{ Genome.Accession }}</p>
						<label class="edd-label">Host:</label>
						<p>{{ Genome.Host }}</p>
						<label class="edd-label" >Collection Date:</label>
						<p>{{ Genome.CollectionDate }}</p>
						<label class="edd-label" >Country:</label>
						<p>{{ Genome.Country }}</p>
						<label class="edd-label" >Fasta Sequence:</label>
						<p>Please, download PDF file for fasta sequence</p>
						<label class="edd-label" >ENA:</label>
						<a style="background: rgba(0,0,0, 0.03); width:50%;" href="https://www.ebi.ac.uk/ena/browser/view/{{Genome.Accession}}" class="link">
                          <span class="mask">
                            <div class="link-container">
                              <span class="link-title1 title"> European Nucleotide Archive</span>
                              <span class="link-title2 title">EMBL-EBI {{Genome.Accession}}</span>
                            </div>
                          </span>
                          <div class="link-icon">
                            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                              <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                              <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                          </div>
                        </a>
    				</fieldset>
				</div>
            </div>

             <div class="col-md-2">
                <div style="display: flex;">
                    <div>
            		    <a id='pdf' href="{% url 'pdf' Genome.Accession %}"><span>View</span><span>PDF</span></a>
                    </div>
                    <div>
            		    <a id='pdf' href="{% url 'pdf' Genome.Accession %}?download=Force"><span>Download</span><span>PDF</span></a>
                    </div>
                </div>
             </div>
        </div>
    </div>
</section>
{% endblock content %}